name: Generate Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Download Stats Image
        run: |
          mkdir -p assets
          curl -o assets/stats.png "https://github-readme-stats.vercel.app/api?username=wincklerhigher&theme=tokyonight&hide_border=true"

      - name: Commit updated stats
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update GitHub stats"
          file_pattern: assets/stats.png
